<ng-content></ng-content>
<body>
  <title>Mid-century Hungary</title>
  <div class="main_component div-flex">
    <mat-card class="div-flex">
      <mat-card-header>
        <mat-card-title><h1>Contact</h1> </mat-card-title>
      </mat-card-header>
      <p><mat-icon>call</mat-icon>+36 30 6237798</p>
      <p><mat-icon>email</mat-icon>pusztainz@gmail.com</p>
      <p class="map"><mat-icon>photo_camera</mat-icon>midcentury_hungary</p>
      <mat-card-footer>
        <iframe
          class="map2"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d959.8685806054284!2d20.26856008937198!3d46.6555301642094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4744097d4440b457%3A0x3bf2d6d44627bb83!2sSzentes%2C%20Baross%20%C3%BAt%203%2C%206600!5e0!3m2!1sen!2shu!4v1683143059074!5m2!1sen!2shu"
          width="500"
          height="300"
          style="border: 1"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </mat-card-footer>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
</body>
