mat-card {
  padding: 5%;
  align-self: center;
}
mat-card-header {
  display: initial;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90%;
}

.main_component {
  height: 100vh;
}
.map {
  margin-top: 10%;
}

.map2 {
  padding: 2px;
  width: fit-content;
  margin: 1%;
}
