mat-card {
  width: 80%;
  align-self: center;
}
mat-card-header {
  display: initial;
  
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90%;
  }

.main_component {
  height: 100vh;
}
.map{
  padding-bottom: 50px;
  margin: 1%
}

.map2{
  padding: 2px;
  width: 70%;
  margin: 1%;
}


