<body>
  <h2>Product Details</h2>
  <main>
    <section>
      <mat-card>
        <div *ngIf="image">
          <div class="image-container">
            <img [src]="image.image_url" alt="{{ image.id }}" />
          </div>
          <div class="product-details">
            <h3>{{ image.name }}</h3>
            <h4>Price: {{ image.price }}</h4>
            <p
              class="available"
              [ngStyle]="{ color: image.available === 'Yes' ? 'green' : 'red' }"
            >
              Available: {{ image.available }}
            </p>

            <p>
              Description:<br />
              {{ image.details }}
            </p>
          </div>
        </div>
      </mat-card>
    </section>
  </main>
</body>
