<body>
  <div class="header">
    <mat-icon class="backbutton" (click)="goBack()">arrow_back_ios</mat-icon>
    <h2>Product Details</h2>
  </div>

  <main>
    <section>
      <mat-card>
        <div *ngIf="image">
          <div class="image-container">
            <img [src]="image.image_url" alt="{{ image.id }}" />
          </div>
          <div class="product-details">
            <h3>{{ image.name }}</h3>
            <h4>Price: {{ image.price }}</h4>
            <p
              class="available"
              [ngStyle]="{ color: image.available === 'Yes' ? 'green' : 'red' }"
            >
              Available: {{ image.available }}
            </p>
            <button mat-icon-button color="primary" (click)="addToCart(image)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>

            <p>
              Description:<br />
              {{ image.details }}
            </p>
          </div>
        </div>
      </mat-card>
    </section>
  </main>
</body>
