<body>
  <div class="container">
    <div class="card">
      <mat-card>
        <mat-card-title class="text-center"><h3>User's datas</h3></mat-card-title>
        <mat-card-content>
          <div *ngIf="user">
            <p>Email: {{ user.email }}</p>
            <p>Username: {{ user.username }}</p>
            <p>First Name: {{ user.name.firstname }}</p>
            <p>Last Name: {{ user.name.lastname }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card">
      <mat-card>
        <mat-card-title class="text-center"><h3>Cart</h3></mat-card-title>
        <mat-card-content>
          <p>Under development...</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>
