.container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-bottom: 10%;
}

.card {
  width: 400px;
  margin: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Új: árnyék hozzáadása */
}

@media (max-width: 900px) {
  .container {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin: 5%;
  }
}

.text-center {
  text-align: center;
}

.custom-snackbar-button {
  color: black;
  background: red;
}

.cart-card {
  max-height: 650px;
  overflow-y: auto;
}

.cart-footer {
  position: sticky;
  bottom: 0;
  padding: 16px;
  border-top: 2px solid lightgray;
  background-color: rgba(167, 167, 167, 0.5);
  backdrop-filter: blur(5px);

}
