.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.galleryImage {
  width: 60%;
  min-width: 150px;
}

.break {
  flex-basis: 90%;
  height: 0;
}

table, th, td {
  border: 1px solid black;
}

.table-header-even {
  background-color: darkcyan;
}

.table-header-odd {
  background-color: cyan;
}

form {
  width: 100%;
  text-align: center;
}

.div-card {
  padding: 2%;

}
.tablecard{
  padding-left: 2%;
  padding-top: 25px;
  padding-right: 2%;

}
.commentinput{
  padding: 15px;

}

mat-form-field {
  width: 100%;

}

mat-card-content {
  text-align: center;
}

.textinput{
  min-width: 10px;
}

