<head>
  <title>Mid-century Hungary</title>
</head>
<body style="margin-top: 56px">
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu
        (selectedPage)="changePage($event)"
        [currentPage]="page"
        *ngIf="page"
        (onCloseSidenav)="onClose($event, sidenav)"
        [loggedInUser]="loggedInUser"
        (onLogout)="logout($event)"
      ></app-menu>
    </mat-sidenav>

    <mat-sidenav-content
      class="mat-app-background"
      [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
    >
      <mat-toolbar
        style="
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          z-index: 100;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
        "
      >
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span>
          <div style="font-weight: bold;">Mid-century Hungary</div>
        </span>
        <span style="margin-left: 30px">
          <mat-slide-toggle
            [(ngModel)]="isDarkTheme"
            labelPosition="before"
            (change)="storeThemeSelection()"
          >
            <mat-icon>bedtime</mat-icon>
          </mat-slide-toggle>
        </span>

        <div class="toolbar"></div>
        <mat-card class="success-message" *ngIf="showSuccessMessage">
          You logged out!
        </mat-card>
        <div class="toolbar" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10" class="navigaton-items">
            <li *ngIf="!loggedInUser">
              <a routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="loggedInUser">
              <a
                routerLink="/login"
                routerLinkActive="active"
                (click)="logout()"
                >Logout</a
              >
            </li>
            <li>
              <a routerLink="/signup" routerLinkActive="active">Registration</a>
            </li>
            <li><a routerLink="/main" routerLinkActive="active">Main</a></li>
            <li>
              <a routerLink="/gallery" routerLinkActive="active">Inspiration</a>
            </li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li>
              <a routerLink="/profile" routerLinkActive="active">
                <mat-icon>shopping_cart</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
