<body>
  <header></header>
  <div class="main_container">
    <div class="card_container" *ngFor="let image of images">
      <mat-card>
        <ng-container *ngIf="image.image_url">
          <a [routerLink]="'/product-details/' + image.id">
            <img
              class="imgincard"
              [src]="image.image_url"
              alt="{{ image.id }}"
              
            />
          </a>
        </ng-container>
        <mat-card-content>
          <h2>{{ image.name }}</h2>
          <p>Price: {{ image.price }}€</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>
