// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$week-04-primary: mat.define-palette(mat.$light-blue-palette);
$week-04-accent: mat.define-palette(mat.$light-green-palette);
$week-04-warn: mat.define-palette(mat.$grey-palette);

$week-04-theme: mat.define-light-theme(
  (
    color: (
      primary: $week-04-primary,
      accent: $week-04-accent,
      warn: $week-04-warn,
    ),
  )
);
@include mat.all-component-themes($week-04-theme);

//for dark theme
$week-04-primary-dark: mat.define-palette(mat.$orange-palette);
$week-04-accent-dark: mat.define-palette(mat.$yellow-palette);
$week-04-warn-dark: mat.define-palette(mat.$grey-palette);

$week-04-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $week-04-primary-dark,
      accent: $week-04-accent-dark,
      warn: $week-04-warn-dark,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.dark-theme-mode {
  @include mat.all-component-themes($week-04-theme-dark);
}

/* You can add global styles to this file, and also import other style files */
$bgcolor: rgb(111, 111, 111);

html {
  background: $bgcolor;
}

html,
body {
  height: 100%;
  //color: rgb(230, 220, 201);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //color: rgb(230, 220, 201);
}

.loading-indicator {
  position: fixed;
  align-content: center;
  justify-self: center;
  justify-items: center;
  z-index: 500;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-indicator::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 82, 82, 0.3);
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    outline: 2px solid rgb(0, 255, 0);
    border-radius: 5px;
    --mdc-snackbar-container-color: rgba(93, 93, 93, 0.5);
    backdrop-filter: blur(5px);
    --mdc-snackbar-supporting-text-color: rgb(0, 255, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;

    .mat-mdc-snack-bar-action {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      --mat-mdc-snack-bar-button-color: rgb(0, 255, 0);
      backdrop-filter: blur(5px);
      font-weight: bold;
    }
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    outline: 2px solid rgb(255, 36, 36);
    border-radius: 5px;
    --mdc-snackbar-container-color: rgba(93, 93, 93, 0.5);
    backdrop-filter: blur(5px);
    --mdc-snackbar-supporting-text-color: rgb(255, 36, 36);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;

    .mat-mdc-snack-bar-action {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      --mat-mdc-snack-bar-button-color: rgb(255, 36, 36);
      backdrop-filter: blur(5px);
      font-weight: bold;
    }
  }
}

.mat-mdc-snack-bar-container {
  &.warning-snackbar {
    outline: 2px solid rgb(251, 124, 26);
    border-radius: 5px;
    --mdc-snackbar-container-color: rgba(93, 93, 93, 0.5);
    backdrop-filter: blur(5px);
    --mdc-snackbar-supporting-text-color: rgb(251, 124, 26);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;

    .mat-mdc-snack-bar-action {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      --mat-mdc-snack-bar-button-color: rgb(251, 124, 26);
      backdrop-filter: blur(5px);
      font-weight: bold;
    }
  }
}

.topunit.mat-mdc-select-panel {
  background-color: rgba(188, 188, 188, 0.6);
  backdrop-filter: blur(3px);
}